/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/workspace.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/dictionaries
/.idea/fx-trading-app.iml
/.idea/
/fx-parent-pom/fx-auth-rs/target/
/fx-parent-pom/fx-rate-publisher/target/
/fx-parent-pom/common-data/target/
/fx-parent-pom/fx-pricing-rs/target/
